#demo
exe
Makefile.in
.deps
.libs
*.o
*.lo
*.a
*.la
*.log
*.vtu
*.pvtu
*.pvd

.cproject
.project
.pydevproject
.settings

include/Makefile
include/dolfin/Makefile
src/Makefile
src/*/Makefile
tests/Makefile
tests/*/Makefile
